<<<<<<< HEAD
header{
    background-color: #FF0000; 
    height: 70px; 
    width: 100%;
=======
header {
	background-color: #FF0000;
	height: 70px;
	width: 100%;
>>>>>>> 64f821db6af2f69c5d9523818f5529d7a9548195
}
